@*
  
*@
@{
    ViewBag.Title = "Contact Information";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div id="theForm">
        <form>
            <label>Your Name:</label>
            <br />
            <input />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject:</label>
            <br />
            <input type="text" />
            <br />
            <label>Message:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" id="submitTheForm" value="Send Message" />
        </form>
    </div>
    <div id="theForm1">
        <form>
            <label>Your Phone Number:</label>
            <br />
            <input />
            <br />
            <label>Your City:</label>
            <br />
            <input />
            <br />
            <input type="submit" id="submitTheForm1" value="Send Message" />
        </form>
    </div>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
