@model CaseContact.Models.NewContact

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>NewContact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLineOne" class="control-label"></label>
                <input asp-for="AddressLineOne" class="form-control" />
                <span asp-validation-for="AddressLineOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLineTwo" class="control-label"></label>
                <input asp-for="AddressLineTwo" class="form-control" />
                <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLineThree" class="control-label"></label>
                <input asp-for="AddressLineThree" class="form-control" />
                <span asp-validation-for="AddressLineThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZip" class="control-label"></label>
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
